*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/dummy
test/dummy_with_locale
test/version_tmp
tmp
.DS_Store
.idea
spec/examples.txt
coverage
dummy_test
.ruby-version
