p Здравствуйте!
p Вы можете подтвердить данный почтовый ящик своего аккаунта по следующей ссылке:
p= link_to 'Активировать мой аккаунт', confirmation_url(@resource, confirmation_token: @resource.confirmation_token)
p Если вы не регистрировались на сайте или не запрашивали повторных инструкций по активации, просто проигнорируйте это сообщение.
